<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Homepage</title>
  </head>
  <body>
    <%- include('./layouts/header') %>
    <h1 class="h1__page">Homepage</h1>
    <div class="homepage__main">
      <% data.forEach(element => { %>
      <div class="homepage__job">
        <h1>Title : <%= element.title %></h1>
        <h2>Company: <%= element.company %></h2>
        <h2>Location: <%= element.location %></h2>
        <h2 class="url">Url: <%= element.url %></h2>
      </div>
      <% }) %>
    </div>
  </body>
</html>
